@import './styles/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{height:100%;}
body{font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; background:var(--color-bg);}
.font-serif{font-family: Cinzel, serif;}
.font-mono{font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace}
.text-muted{color:var(--muted)}
